
.content {
  margin-top: 60px;
}

.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

text.node-label {
  font: 13px sans-serif;
  fill: #456;
  text-shadow: none;
  text-decoration: none;
  stroke-width: 0px;
}
